<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website icon" href="src/public/icon/web-icon.svg">
    <link rel="stylesheet" href="src/public/css/error.css">
    <title>Error - 404</title>
</head>
<body>
    <div class="container">

        <div class="content">

            <div class="img_content">
                <img src="src/public/icon/not-found.svg" alt="404">
            </div>

            <div class="info">
                <h1>Error - 404</h1>
                <br>
                <h4>No se a podido encontrar la ruta</h4>
                <br>
                <h4>Por favor verifique la URL que escribio</h4>
                <br>
                <button onclick="window.location.href='http://192.168.1.12/corona/';">Ir al inicio</button>
            </div>

        </div>

    </div>
</body>
</html>